.card{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #302e3e;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 1px orange;
    animation: fadeInAnimation ease 1s;
    margin-bottom: 50px;
}
.card-buy{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
    margin-top: 20px;
}
.card img{
    border-radius: 10px;
}
.card-buy svg{  
    width: 20px;
    border: 1px solid white;
    border-radius: 10px;
    padding: 2px;
    position: absolute;
    right: 4px;
    top: 5px;
}
button{
    background: black;
    border-radius: 10px;
    padding: 10px;
    border: none;
    color: white;
}
.title{
    margin-top: 10px;
}
.price{
    margin-top  : 10px;
}




@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}