.search-svg{
    width: 25px;
    position: absolute;
    right: 2px;
    padding-top: 2px;
    cursor: pointer;
}

.hat-background{
    background: black;
}
.hat{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    animation: fadeInAnimation ease 1s;
}
.basket svg{
    width: 35px;
}
.search-block{
    display: flex;
    align-items: center;
    position: relative;
}
.basket{
    display: flex;
    justify-content: space-between;
}
.basket h2{
    margin-left: 10px;
}
input{
    padding: 7px;
    outline: none;
    border-radius: 10px;
    border: none;
}
input::selection{
    transform: translate(1px);
}